<!-- </div>
</div> -->
<div class="my-footer">
  <div class="footer-content">
    {{ range .Site.Pages }}
      {{ if eq .Type "footer" }}
        {{ .Content | markdownify }}
      {{ end }}
    {{ end }}
  </div>
</div>

{{ partial "google_analytics.html" . }}
<script>
      $(document).ready(function(){
        var lang_code = $("#lang_code").val();
        if(lang_code == "en"){

        }else{

        }
        $("#lang_url").change(function(){
          window.location = $(this).val();
        });
      });
      (function (window, document) {
      var menu1 = document.getElementById('menu1'),
          WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

      function toggleHorizontal() {
          [].forEach.call(
              document.getElementById('menu1').querySelectorAll('.custom-can-transform'),
              function(el){
                  el.classList.toggle('pure-menu-horizontal');
              }
          );
      };

      function togglemenu() {
          // set timeout so that the panel has a chance to roll up
          // before the menu1 switches states
          if (menu1.classList.contains('open')) {
              setTimeout(toggleHorizontal, 500);
          }else{
              toggleHorizontal();
          }
          menu1.classList.toggle('open');
          document.getElementById('toggle').classList.toggle('x');
          var d = document.getElementById("div1");
      };

      function closemenu() {
          if (menu1.classList.contains('open')){
              togglemenu();
          }
      }

      document.getElementById('toggle').addEventListener('click', function (e) {
          togglemenu();
          e.preventDefault();
      });

      window.addEventListener(WINDOW_CHANGE_EVENT, closemenu);
      })(this, this.document);
</script>
</body>
</html>
