<div class="row padding-top">
  <div class="col-md-12">
      <h4 class="my-active" style="">Related manual</h4>
  </div>
</div>
<div class="row">
  {{ range .Params.relatedmanual }}
    <div class="col-md-4">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation">
            <a href="{{ $.Site.BaseURL }}{{ .url }}"><img src="{{ .imageCover }}" style="width:200px;height:266px;" alt="" ></a>
          </div>
          <div class="product-desc">
            <small class="text-muted"></small>
            <a href="{{ $.Site.BaseURL }}{{ .url }}" class="product-name">{{ .manualTitle }}</a>
            <ul class="gcm-header-list">
              <li>Make: {{ .manualMake }}</li>
              <li>Series: {{ .manualSerie }}</li>
              <li>Subseries: {{ .manualSubSerie }}</li>
              <li>Platform: {{ .manualPlatform }}, Year: {{ .manualYear }}</li>
            </ul>
            <div class="row">
                <a href="{{ $.Site.BaseURL }}{{ .url }}" class="btn btn-primary btn-outline">More Info</a>&nbsp;&nbsp;&nbsp;
                <div class="owl-image" style="width:10px;height:5px;">
                  {{ .sendowlMd | markdownify }}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
