<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="gcm-header">{{ .Title }}</h2>
    </div>
  </div>
  <div class="row padding-top image-box-product">
    <div class="col-md-6">
      <img src="{{ .Params.imagecover }}" class="img-fluid" alt="Cinque Terre">
    </div>
    <div class="col-md-6 padding-top-change">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <span class="gcm-header">Price: {{ .Params.manualprice }}</span>
          </div>
          <div class="padding-top"> {{ .Params.sendowlmd | safeHTML }} </div>
          <div class="padding-top"> {{ .Params.partialaddtocart | markdownify }} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item my-active"><span class="">File Information</li>
        <li class="list-group-item">
          <table class="">
            <tr class="text-left">
              <td><span class="gcm-header">No. of Pages:</span> </td>
              <td><span class="gcm-header">File size download:</span> </td>
              <td><span class="gcm-header">File type:</span> </td>
              <td><span class="gcm-header">File:</span> </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
  {{ partial "propsncons.html" . }}
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item my-active"><span class="">Manual Description</li>
        <li class="list-group-item">
            {{ .Params.manualdescription | markdownify }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item my-active"><span class="">Manual Cover</li>
        <li class="list-group-item my-table">
            {{ .Params.manualcover | markdownify }}
        </li>
      </ul>
    </div>
  </div>
  {{ partial "tableofcontent.html" . }}
  <div class="row padding-top">
    <div class="col-md-12 text-center">

    </div>
  </div>
  {{ partial "partial_download.html" . }}
</div>
