<div class="container">
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="gcm-header">{{ .Title }}</h2>
    </div>
  </div>
  <div class="row padding-top image-box-product">
    <div class="col-md-6">
      <img src="{{ .Params.imagecover }}" class="img-fluid" alt="Cinque Terre">
    </div>
    <div class="col-md-6 padding-top-change">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <span class="gcm-header">Price: {{ .Params.manualprice }}</span>
          </div>
          <div class="padding-top"> {{ .Params.sendowlmd | safeHTML }} </div>
          <div class="padding-top"> {{ .Params.partialaddtocart | markdownify }} </div>
          <div class="panel padding-top">
            <div class="panel-heading">
                <h3 class="panel-title my-active">Car Specification</h3>
            </div>
            <div style="padding-left:20px;">
              <div style="padding-top:27px;">
                <table width="60%" class="borderless" style="">
                  <tr>
                    <td class="gcm-header">Make</td>
                    <td>{{ .Params.manual }}</td>
                  </tr>
                  <tr>
                    <td class="gcm-header">Serie</td>
                    <td>{{ .Params.series }}</td>
                  </tr>
                  <tr>
                    <td class="gcm-header">Sub-serie</td>
                    <td>{{ .Params.subseries }}</td>
                  </tr>
                  <tr>
                    <td class="gcm-header">Platform</td>
                    <td>{{ .Params.platform }}</td>
                  </tr>
                  <!-- <tr>
                    <td class="gcm-header">Engine</td>
                    <td>{{ .Params.engine }}</td>
                  </tr> -->
                  <tr>
                    <td class="gcm-header">Year</td>
                    <td>{{ .Params.manualyear }}</td>
                  </tr>
                  <tr>
                    <td class="gcm-header">Body Type</td>
                    <td>{{ .Params.bodytype }}</td>
                  </tr>
                  <tr>
                    <td class="gcm-header">Fuel Type</td>
                    <td>{{ .Params.fueltype }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row padding-top">
    <div class="col-md-12">
        <h4 class="my-active" style="padding-left:31px;">Manual Specification</h4>
        <div class="row">
          <div class="col-sm-12" style="padding-left:49px;"> <br>
            <table class="table borderless">
              {{ range .Params.carspec }}
                <tr class="text-left">
                  <td><span class="gcm-header">Manual Type:</span> {{ .manualSpecType }}</td>
                </tr>
                <tr>
                  <td><span class="gcm-header">No. of Pages:</span> {{ .manualSpecNoOfPages }}</td>
                </tr>
                <tr>
                  <td><span class="gcm-header">File Size:</span> {{ .manualSpecFileSize }}</td>
                </tr>
                <tr>
                  <td><span class="gcm-header">Format:</span> {{ .manualSpecFormat }} </td>
                </tr>
                <tr>
                  <td><span class="gcm-header">Language:</span> {{ .manualSpecLanguage }} </td>
                </tr>
                <tr>
                  <td><span class="gcm-header">Suitable for:</span> {{ .suitableFor }} </td>
                </tr>
              {{ end }}
            </table>
          </div>
        </div>
    </div>
  </div>
  <!-- <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
          <table class="table borderless">
            {{ range .Params.carspec }}
              <tr class="text-left">
                <td><span class="gcm-header">Manual Type:</span> {{ .manualSpecType }}</td>
              </tr>
              <tr>
                <td><span class="gcm-header">No. of Pages:</span> {{ .manualSpecNoOfPages }}</td>
              </tr>
              <tr>
                <td><span class="gcm-header">File Size:</span> {{ .manualSpecFileSize }}</td>
              </tr>
              <tr>
                <td><span class="gcm-header">Format:</span> {{ .manualSpecFormat }} </td>
              </tr>
              <tr>
                <td><span class="gcm-header">Language:</span> {{ .manualSpecLanguage }} </td>
              </tr>
              <tr>
                <td><span class="gcm-header">Suitable for:</span> {{ .suitableFor }} </td>
              </tr>
            {{ end }}
          </table>
      </ul>
    </div>
  </div> -->
  {{ partial "propsncons.html" . }}
  <div class="row padding-top">
    <div class="col-md-12">
        <h4 class="my-active" style="padding-left:31px;">Description</h4>
        <div class="row">
          <div class="col-sm-12" style="padding-left:49px;"> <br>
            {{ .Params.manualdescription | markdownify }}
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row">
          <div class="col-sm-12 my-table" style="padding:49px;"> <br>
            {{ .Params.manualcover | markdownify }}
          </div>
        </div>
    </div>
  </div>
  <!-- <div class="row padding-top">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item my-active"><span class="">Manual Cover</li>
        <li class="list-group-item my-table">
            {{ .Params.manualcover | markdownify }}
        </li>
      </ul>
    </div>
  </div> -->
  {{ partial "tableofcontent.html" . }}
  <div class="row padding-top">
    <div class="col-md-12 text-center">

    </div>
  </div>
  {{ partial "partial_download.html" . }}
  {{ partial "related_manual.html" . }}
</div>
