<div class="panel padding-top">
  <div class="panel-heading">
      <h3 class="panel-title gcm-header">Car Specification</h3>
  </div>
  <div class="col-md-4 padding-top">
    <table class="table">
      <tr>
        <td class="gcm-header">Make</td>
        <td>{{ .Params.make }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Serie</td>
        <td>{{ .Params.serie }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Sub-serie</td>
        <td>{{ .Params.sub_serie }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Platform</td>
        <td>{{ .Params.platform }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Engine</td>
        <td>{{ .Params.engine }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Year</td>
        <td>{{ .Params.manualyear }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Body Type</td>
        <td>{{ .Params.body_type }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Fuel Type</td>
        <td>{{ .Params.fuel_type }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Cylinder</td>
        <td>{{ .Params.cylinders }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Displacement</td>
        <td>{{ .Params.displacement }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Power_kw</td>
        <td>{{ .Params.power_kw }}</td>
      </tr>
      <tr>
        <td class="gcm-header" >Horse Power</td>
        <td>{{ .Params.horse_power }}</td>
      </tr>
      <tr>
        <td class="gcm-header">Torque_nm</td>
        <td>{{ .Params.torque_Nm }}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
